<nav>
  <ul class="navTools">
    @for(item of navTools; track item.id) {
      <li>
        @if (item.action === 'logout') {
          <a (click)="handleNavClick(item)" style="cursor: pointer;">
            <span class="icon">{{item.icon}}</span>
            <span class="nav-label">{{item.name}}</span>
          </a>
        } @else {
          <a [routerLink]="item.path">
            <span class="icon">{{item.icon}}</span>
            <span class="nav-label">{{item.name}}</span>
          </a>
        }
      </li>
    }
  </ul>
</nav>