<div class="landing-container">
    <div class="info-container">
        <p class="welcome-text"><b>RantRepo</b> : Turn your bugs into features, and your rants into tutorials</p>
        <p>Your 3 AM fix is someone else's 5-minute solution. Your frustration is someone else's roadmap.<br/> Stop yelling at your screen and start writing. It's more productive. Marginally.</p>
        <div class="text-container">
            <p id="text-desc">A PLACE FOR</p>
            <div class="dropping-texts">
                <div>DEVELOPERS</div>
                <div>DESIGNERS</div>
                <div>CODERS</div>
                <div>EVERYONE</div>
            </div>
        </div>
    </div>
    
    <div class="login-container">
        <form [formGroup]="form" class="formcontainer">
            <h2>{{isSignup ? 'Sign Up' : 'Hi there, Login here to explore more !'}}</h2>
            
            <!-- Signup fields  -->
            @if(isSignup) {
                <div>
                    <label for="firstName" class="firstname">Enter your First Name here</label>
                    <input type="text" id="firstName" formControlName="firstName" placeholder="First Name">
                </div>
                <div>
                    <label for="lastName" class="lastname">Enter your Last Name here</label>
                    <input type="text" id="lastName" formControlName="lastName" placeholder="Last Name">
                </div>
                <div>
                    <label for="email" class="email">Enter your Email here</label>
                    <input type="email" id="email" formControlName="email" placeholder="Email">
                </div>
                @if (isSignup && form.get('email')?.invalid && form.touched) {
                    <div class="error" style="color: red;">Please enter a valid Email</div>
                }
                <div>
                    <label for="username" class="username">Enter your Username here</label>
                    <input type="text" id="username" formControlName="username" placeholder="Username">
                </div>
   
                <div>
                    <label for="password" class="password">Enter your password here </label>
                    <input type="password" id="password" formControlName="password" placeholder="Enter your first time Password">
                </div>
                <div>
                    <label for="confirmPassword" class="password">Confirm your password here </label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your Password">
                </div>

                @if (isSignup && form.hasError('validatePassword') && form.touched) {
                    <div class="error" style="color: red;">Passwords do not match</div>
                }
            }

            <!-- Login fields  -->
            @if(!isSignup) {
                <div>
                    <label for="loginEmail" class="email">Enter your Email here</label>
                    <input type="email" id="loginEmail" formControlName="email" placeholder="Email">
                </div>
                @if (form.get('email')?.invalid && form.touched) {
                    <div class="error" style="color: red;">Please enter a valid Email</div>
                }
                
                <div>
                    <label for="loginPassword" class="password">Enter your password here</label>
                    <input type="password" id="loginPassword" formControlName="confirmPassword" placeholder="Password">
                </div>
                <a [routerLink]="['/email-verification']" style="text-decoration: none; color: rgb(37, 37, 37);">Forgot Password</a>
            }
            
            <div class="button-container">
                <button id="submitButton"
                    type="submit" 
                    [disabled]="isSignup ? !isSignupFormValid() : !isLoginFormValid()" 
                    (click)="isSignup ? signUp() : login()">
                    {{isSignup ? 'Sign Up' : 'Login'}}
                </button>
              
                <button (click)="onClick()" type="button">
                    {{isSignup ? 'Back to Login' : 'Click here to Sign Up'}}
                </button>
            </div>
        </form>
    </div>
</div>